@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$background-color: #091231;
$button-color: #3ae8e1;
$font-color: #0B194A;
/**************Jurassic******************/
$red-color: #ff2200;
$yellow-color: #FFF300;
$black-color: #000;
/************************************/
$login-color: #20263B;





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    position:absolute;
    left: 0;
    right: 0;
}


.svg-off{
   transform: translateX(14px);
}

.display-container{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Mono", monospace;
    background-color: $background-color;
    color: #fff;
    

}