.landing-container{
    width: 100%;
    height: 100vh;
    display: flex;
 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.landing-main-container{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.landing-main-container img{
    width: 200px;
    height: 200px;
}

.landing-main-container h1{
    font-size: 3rem;
    margin: 30px;
}

.landing-main-container > button{
    font-size: 18px;
    font-weight: 400;
    padding:20px 45px;
    background: transparent;
    color: #04c9ed;
    outline: none;
    border: 2px solid #04c9ed;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.4s ease;
}

.landing-main-container > button:hover{
    box-shadow: 0 5px 50px 0 #04c9ed inset, 0 5px 50px 0 #04c9ed ;
}


.wrapper{

    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wrapper > div{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: -10px;
    animation: particle 15s infinite;
    border: 3px solid skyblue;
    background-color: skyblue;
    opacity: 0.2;
}

.wrapper > div:nth-child(1){
 
        right: 0%;
        animation-delay: 5s;

}

.wrapper > div:nth-child(2){
    animation-delay: 10s;


    right: 15%;
}

.wrapper > div:nth-child(3){


    animation-delay: 3s;
    right: 30%;
}

.wrapper > div:nth-child(4){


    animation-delay: 7s;
    right: 45%;
}

.wrapper > div:nth-child(5){


    animation-delay: 4s;
    right: 60%;
}

.wrapper > div:nth-child(6){

  
    animation-delay: 12s;
    right: 75%;
}

.wrapper > div:nth-child(7){

    
    animation-delay: 5s;
    right: 90%;
}

.wrapper > div:nth-child(8){

   
    animation-delay: 4s;
    right: 100%;
}

.wrapper > div:nth-child(9){

 
    animation-delay: 6s;
    right: 70%;
}

@keyframes particle {
        0%{
        transform: translateY(0);
        
    }

    100%{
        transform: translateY(-1000px);
        opacity: 0;
    }
}
