@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
/**************Jurassic******************/
/************************************/

button.btn {
  padding: 14px 30px;
  border-radius: 8px;
  font-weight: 700;
  color: white;
  outline: none;
  border: none;
  font-size: 21px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease-out;
  transform: scale(1);
}

button.btn:hover {
  opacity: 0.8;
}

button.btn:active {
  opacity: 0.6;
  transform: scale(0.9);
}

.btn.green {
  background-color: green;
}

.display-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #091231;
  color: #fff;
}

.login-container {
  position: relative;
  height: 100vh;
  margin: 20px;
}

.login-box {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  background-color: #20263b;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 0px 25px #5edefa;
  padding: 10px 40px 20px;
}

.login-box h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: none;
  display: block;
  margin: 10px 0;
  padding: 10px 10px;
  background-color: #fff;
  width: 100%;
  color: #000;
  outline: 0;
}

.login-box button {
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: #091231;
  background-color: #3ae8e1;
  padding: 10px 20px;
}

.login-box.error {
  box-shadow: 0px 0px 25px #fa5e5e;
}

@media screen and (min-width: 600px) {
  .login-box {
    width: 400px;
    margin: 0;
  }
}
.nav {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  margin: 5px;
}

.nav a:not(:first-child) {
  margin-left: 45px;
}

.nav a.active {
  box-shadow: #e91e63;
}

.container {
  margin: 0 20px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "head head head head" "top top top top" "box1 box1 box1 box1" "box2 box2 box2 box2";
  gap: 20px;
}

.item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  transition: transform ease 0.3s;
  height: 300px;
}

.header-container {
  margin: 15px 15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.item > .icon-container > h3 {
  color: #091231;
  margin-top: 5px;
}

.user {
  cursor: pointer;
}

.user img {
  border: 3px solid #5fddfc;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

i {
  font-size: 5rem;
  color: #091231;
}

.item:hover {
  transform: scale(0.99);
}

.item:nth-child(1) {
  grid-area: head;
  background-color: #5fddfc;
}

.item:nth-child(2) {
  grid-area: top;
  background-color: #e64f57;
}

.item:nth-child(3) {
  grid-area: box1;
  background-color: #58bf5e;
}

.item:nth-child(4) {
  grid-area: box2;
  background-color: #3e12c1;
}

@media screen and (min-width: 700px) {
  .main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .container {
    padding: 20px;
    display: grid;
    grid-template-areas: "head head top top" "box1 box1 box2 box2";
    width: 100%;
    height: 75%;
    gap: 15px;
  }
}
@media screen and (min-width: 900px) {
  .main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .container {
    padding: 20px;
    display: grid;
    grid-template-areas: "head top top top" "head box1 box1 box2";
    width: 85%;
    height: 85%;
    gap: 15px;
  }

  .item {
    height: 100%;
  }
}
/***This definese what 1rem is. Allowing the user to adjust size on browswer****/
html {
  font-size: 62.5%;
}

/*# sourceMappingURL=main.css.map */
