.note-card {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 6px;
    border: 1px solid orange;
    width: 140px;
    flex-wrap: wrap;
    border-radius: 6px;
    cursor: pointer;
    opacity: 1;
    transform: scale(1);
    transition: all 0.12s ease-in-out;
  }
  
  .note-card:hover {
    opacity: 0.95;
    transform: scale(0.95);
  }
  
  .note-card:active {
    opacity: 0.9;
    transform: scale(0.9);
  }
  
  #notes-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  