.browswer-container{
    width: 100%;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-box{
    width: 800px;
    height: 600px;
  }
  
  .nav-header{
    width: 100%;
    display: flex;
    background-color: #35363a;
    padding: 20px;
  }
  
  .circle-container{
  display: flex;
  
  }
  
  .circle-container >  div{
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .circle-container > div:nth-child(1){
    background-color: #ED6A5F;
    
  }
  
  .circle-container > div:nth-child(2){
    background-color: #f6be4f;
    
  }
  
  .circle-container> div:nth-child(3){
    background-color: #62c554;
   
    
  }
  
  input{
    background-color: #202124;
    width: 100%;
  }
  
  textarea{
    font-size: 20px;
    color: #fff;
    background-color: #35363a;
    width:100%;
    height: 500px;
    resize: none;
  }
  